body{
background: #1a2a6c;  
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  
background: linear-gradient(to right, #fdbb2d, #d49556, #ca8859); 
    margin: 0;
    padding: 0;
    font-family: 'serif';
}
.titulo-egipto {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    font-family: 'Georgia', serif;
    background: linear-gradient(to right, rgb(110, 88, 47), rgb(22, 21, 15), rgb(66, 66, 28));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    padding-bottom: 0px;
    border-bottom: 3px solid gold;
    display: inline-block;
}

#encabezado .menu{
    float: right;
    width: 100%;
    margin-top: 10px;
    border: 1px solid;
    font-size: 33px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    line-height: 2.5rem;
    position: relative;
}

.menu ul{
    position: absolute;
}

nav a{
    color: #fff;
    display: block;
    text-decoration: none;
    transition: .4s;
    padding: 10px 57px;
}

nav a:hover{
    background: rgba(0,0,0,.5);
}

nav li ul{
    float: right;
    font-size: 17px;
}

.menu{
 background: #cfb269;  
background: -webkit-linear-gradient(to right, #f8b500, #fceabb);/
background: linear-gradient(to right, #f8b500, #fceabb); 

}
.menu >li{
    float: left;
}

nav li li{
    background: #fceabb;  
background: -webkit-linear-gradient(to right, #7d7d7d, #fceabb);  
background: linear-gradient(to right, #d0ba7b, #fceabb); 
    max-height: 0;
    overflow: hidden;
    transition: all .1s;
    width: 155px;
}

nav li:hover > ul > li{
   max-height: 500px;
   overflow: visible; 
}

.menu > li > ul{
top:100%;
}

.menu ul ul{
left:100%; 
top: 0;
}
footer {
            background-color: #f2f2f2;
            color: rgb(0, 0, 0);
            padding: 30px;
            margin-top: 200px;
        }
main{
    min-height: 76vh;
}

.form-register {
  width: 500px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 200px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.resolicion {
    width: 99%;
    text-align: center;
}
@media (max-width:767px) {
    .desktop {
        display: none;
    }
    .table {
        display: none;
    }
}